

<%# if @distributo.errors.any? %>

            <%#*<div align="left">%>             
                <%#*<ul><H1><font SIZE="4" FACE="arial" color ="#BF0000"> ERRORES</font>      </H1>%>      
                  <%# for message in @distributo.errors.full_messages %>                          
                    <%#*<li><%= message %></li>
                    <%#*<br>%> 
                 <%# end %>
                <%#*</ul>%>              
            <%#*</div>%>
<%# end %>


<H1><center><font SIZE="4" FACE="arial" color ="#BF0000"> ERRORES DE FORMULARIO, FALTAN CAMPOS POR LLENAR</font></center></H1>    