<div id="pagina" style=" background-color: #E2F5FF; height: 506px; width: 1300px; border: 1px solid black;">          

<center><H1><font color ="#0932FF"> HORARIO DEL DISTRIBUTIVO ACADÉMICO DE CLASES </font></H1></center>

<html>
  <head>
    <title>New Document</title>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
    <style>
#Contenedor1{
	float: left;
	width: 4%;
  }
#Contenedor2{
	float: left;
	width: 10%;
  }
#Contenedor3{
	float: right;
	width: 17%;
  }
    </style>
  </head>
  <body>
       
    <div id="Contenedor2">
    <table border="1" width="705px">
        <%@distributivo.each do |f| %>
          <tr>
            <td><font color ="#3300FF" size="4">NIVEL</font>  <font color ="#3300FF" size="2"><%=f.curso.nivel.nivel_numero%></font></td>
            <td><font color ="#3300FF" size="4">PARALELO</font>  <font color ="#3300FF" size="2"></font><%=f.curso.cur_paralelo%></font></td>
            <td><font color ="#3300FF" size="4">ASIGNATURA</font> <font color ="#3300FF" size="2"><%=f.asignatura.asig_nombre%></font></td>
            <td><font color ="#3300FF" size="4">DÍAS</font> <font color ="#3300FF" size="2"><%=f.distr_horarioa%></font></td>
          </tr>
        <%end%>
    </table>
    </div>
    
  </body>
</html> 

</div>