<html>
  
<head>
    <script type="text/javascript" src="../scripts/javascript.js"></script>    
  </head>
  
  <body>
       
    
    <div id="pagina" style="background-image: url(/assets/pepi1000.jpg); height: 507px; width: 1300px; border: 1px solid black;">
    
     <div align="center">                                  
                             
 <font color ="#612101">
               <font SIZE="1" FACE="arial">
                 <br></br>
                 <h1><b>ANTECEDENTES:</b></h1>
               </font>
                 </div>    
    
    <div align=justify style="line-height: 17px">
                                                 
                <font color= "#132BFF" SIZE="2" FACE="arial">  
                  
                 <b>
<p>En la hermosa y cosmopolita ciudad de Pasaje de la Nieves, 
cuna de hombres y mujeres capaces de construir sueños y forjar valores 
en el alma de sus hijos. La Unidad Educativa Particular Juan Pablo II, 
abrió sus puertas al servicio de la educación de los niños y niñas del cantón, 
el 20 de abril de 1993, bajo la denominación de Centro 
Educativo Particular Bilingüe Popeye.
</p>

Inauguró su primer año con cuatro paralelos:
Dos paralelos de primero de básico con niños de cinco años.
Kínder, que recibió a niños y niñas de cuatro años.
Pre kínder que acogió a niños y niñas de tres años.
Contando con un total de setenta estudiantes que iniciaban su preparación educativa.

<p>Inicialmente la planta docente se conformó de la siguiente manera:
Prof. Parv. Blanca Ludeña Ávila,  profesora del primer año de educación básica paralelo A 
y directora del Centro; Prof. Parv. Angelita Beltrán profesora del primer año básico paralelo B; 
Prof. Parv. Estela Oñate de Vásquez, del nivel Kínder. 
y Prof. Parv. Rocío Cedillo del nivel Pre kínder.
</p>

Al iniciar su funcionamiento, la institución lo hizo en el local de la ex 
maternidad “Dr. Vinicio Díaz”, ubicado en la Av. Quito, diagonal al Hospital Civil San Vicente de Paul. 
Local acondicionado pedagógicamente a fin de brindar una educación de calidad y calidez a los estudiantes, 
así como las facilidades para el correcto desempeño del personal que laboraba en el mismo 
y además otorgar una adecuada atención a los padres de familia y comunidad en general.

En el año de 1995 se crea el segundo año de educación básica, bajo la denominación de Escuela Hispanoamericana, 
nombre que tan solo duró dos años lectivos y luego se asumió el nombre del nivel Pre escolar, 
es el de Centro Educativo Particular Bilingüe Popeye.

Es menester recordar que en el año 1998, debido a la enorme acogida de la Institución, 
era necesario buscar un espacio más amplio, en el que se contaría con aulas más cómodas, 
así como la implementación de talleres, laboratorios y además brindar un amplio espacio de 
esparcimiento a los estudiantes, es  así como el Centro Educativo Particular Bilingüe Popeye se 
traslada a las instalaciones del Recinto Ferial Campesina Hermosa del Ecuador, donde 
funciona hasta la actualidad.

<p>Fue en el período lectivo 2005 – 2006 que tras una serie de proyectos educativos, capacitación docente 
y la aceptación de estudiantes y padres de familia, se crea el octavo año de educación básica, 
con la denominación de Colegio Juan Pablo II, como un justo reconocimiento a la memoria 
y los preceptos de tan ameritado siervo de Dios que supo legar a la humanidad los valores esenciales y 
trascendentes del Evangelio.
Hasta que en el presente año lectivo y considerando que se cuenta con el décimo año de educación básica, 
la Dirección Provincial de Educación, cumpliendo con lo dispuesto en la legislación educativa 
correspondiente; da el aval y toda la Institución se  constituye en Unidad Educativa Juan Pablo II.
</p>
                 </b>                                                                                                                   
                </font>                 
  </div>
  </div>
</body>    
  </html>
  
  