<html>                         
  <head>
    <script type="text/javascript" src="../scripts/javascript.js"></script>    
  </head>
  <body> 
    <div id="pagina" style="background-image: url(/assets/contactenos11.jpg); height: 506px; width: 1300px; border: 1px solid black;">    
    <div align="center">                                                                  
               <font SIZE="2" FACE="arial" color ="#297722">                           
                 <h3><u><b>DATOS DE LA UNIDAD EDUCATIVA JUAN PABLO II</b></u></h3>
               </font>
      <br/>
                 </div>        
    <div align=justify style="line-height: 29px">                                                                                                                               
                 <b>
        <table align="center" bgcolor=#E5E9E9>           
        <tr><td align="center"><font SIZE="4" FACE="arial" color="#612101">Provincia:</font></td><td><font color="#1524F2" SIZE="3"><center>El Oro</center></font> <p></p></td></tr>
	<tr><td align="center"><font SIZE="4" FACE="arial" color="#612101">Cantón:</font></td> <td><font color="#1524F2" SIZE="3"><center>Pasaje</center></font>  <p></p></td></tr>
	<tr><td align="center"><font SIZE="4" FACE="arial" color="#612101">Parroquia:</font></td><td><font color="#1524F2" SIZE="3"><center>Loma de Franco</center></font> <p></p></td></tr>
	<tr><td align="center"><font SIZE="4" FACE="arial" color="#612101">Dirección:</font></td><td> <font color="#220DDD" SIZE="3"><center>Galo García y Av. Alberto Serrano</center></font> <p></p></td></tr>
        <tr><td align="center"><font SIZE="4" FACE="arial" color="#612101">Teléfono:</font></td><td><font color="#1524F2" SIZE="3"><center>2914503</center></font> <p></p></td></tr>
	<tr><td align="center"><font SIZE="4" FACE="arial" color="#612101">Sostenimiento:</font></td><td><font color="#1524F2" SIZE="3"><center>Particular</center></font> <p></p></td></tr>
	<tr><td align="center"><font SIZE="4" FACE="arial" color="#612101">Régimen:</font></td><td> <font color="#1524F2" SIZE="3"><center>Costa</center></font> <p></p></td></tr>
	<tr><td align="center"><font SIZE="4" FACE="arial" color="#612101">Jornada de trabajo:</font></td><td><font color="#1524F2" SIZE="3"><center>Matutina</center> </font> <p></p></td></tr>
	<tr><td align="center"><font SIZE="4" FACE="arial" color="#612101">Sexo:</font></td><td><font color="#1524F2" SIZE="3"><center>Mixto</center></font>
        </table>      
                 </b>                                                                                                                                             
  </div>  
      </div>       
</body>    
  </html>
  
   