<html>
  
<head>
    <script type="text/javascript" src="../scripts/javascript.js"></script>    
  </head>
  
  <body>
    
    <div id="pagina" style="background-image: url(/assets/papabebe2.jpg); height: 507px; width: 1300px; border: 1px solid black;">   
       
     <div align="center">                                  
                             
 <font color ="#612101">
               <font SIZE="1" FACE="arial">  
                               
                <b><H1> DESCRIPCIÓN DE LA REALIDAD INSTITUCIONAL</H1></b>                                  
               </font>
                 </div>    
    
    <div align=justify style="line-height: 38px">
                                                 
                <font color= "#132BFF" SIZE="2" FACE="arial">                                                     
                  
                 <b>                
                La unidad Educativa Particular Juan Pablo II 
                creada mediante Acuerdo Ministerial 4327¸ N° 011-SPP  del   
                11 de enero de 1994 permite el funcionamiento de nivel pre básico y jardín; 
                mediante acuerdo ministerial DEO-DPE-022-2005 de fecha 4 de febrero del 2005 
                autoriza el funcionamiento del octavo año básico; 
                mediante acuerdo ministerial    
                DEO-DPE-017-2006 de fecha 17 de febrero del 2006, 
                se autoriza el funcionamiento de noveno año básico; 
                mediante acuerdo ministerial y  mediante acuerdo ministerial  
                Nro. DEO-DPE-285-2006 del 6 de diciembre 
                del 2006 permite el funcionamiento de décimo año.
                En la actualidad 2012, la Institución gracias a su enorme avance académico, 
                consta con los cursos de PRIMER AÑO DE BACHILLERATO,
                SEGUNDO AÑO DE BACHILLERATO Y TERCER AÑO DE BACHILLERATO, demostrando progresivamente su progreso
                a nivel de la Educación en servicio para los estudiantes.
                </b>
                  </font>
      
      </div>
                  
      
     
    <div align="center">                                  
                             
 <font color ="#612101">
               <font SIZE="1" FACE="arial">  
                 <br></br>                 
                <b><H1>UBICACIÓN DE LA UNIDAD EDUCATIVA JUAN PABLO II</H1></b>                                  
               </font>
                 </div>    
    
    <div align=justify style="line-height: 38px">
                                                 
                <font color= "#132BFF" SIZE="2" FACE="arial">                                                                          
                  
                   <b>                                                                                 
                   La Unidad Educativa Particular Juan Pablo II, 
                   es una institución que se encuentra ubicada 
                   en las calles Galo García y Av. Alberto Serrano, 
                   en la ciudad de Pasaje, provincia de El Oro, 
                   sector de la vía a la parroquia urbana Loma de Franco. 
                   A su alrededor se ubican importantes barrios y ciudadelas como El Cisne, 
                   Las Praderas, 11 de Noviembre y los Mirtos; 
                   sectores urbanizados que cuentan con servicios básicos de agua potable, 
                   energía eléctrica, alcantarillado, redes telefónicas 
                   de los que goza también el plantel.
                   </b>
                </font>
  </div>
  </div>
</body>    
  </html>
  
  