<html>
<head>
   <script src="javascripts/modernizr.custom.js"></script>
   <script src="javascripts/jquery-1.10.2.min.js"></script>
   <script src="javascripts/lightbox-2.6.min.js"></script>
   <link href= "stylesheets/lightbox.css" rel="stylesheet"/>
</head>  

  
<body>       
     <div id="pagina" style="background-color: #9EC9E6; height: 506px; width: 1300px; border: 1px solid black;">                  
  <div id="tamaño_fotos">
  <div align ="center"><font color="#15521"><h3> ANEXOS DE LA UNIDAD EDUCATIVA PARTICULAR JUAN PABLO II </h3></font></div>
    <p>Fotos tomadas en la Unidad Particular Mixta Juan Pablo II <font color="05609D">(Clic en la Imagen para Agrandar)</font></p>
  <br></br>

<div align="center">
  
<%#*<a href="assets/an14.jpg" rel="lightbox[roadtrip]"><img src="assets/an15.jpg" alt="" />%>
<%#*</a>%>   
    
  
<a href="assets/an1.jpg"   rel="lightbox[roadtrip]"><img src="assets/an2.jpg" alt=""/>
</a>
  
<%#*<a href="assets/an3.jpg" rel="lightbox[roadtrip]"><img src="assets/an4.jpg" alt=""/>%>
<%#*</a>%>
  
<a href="assets/an5.jpg"  rel="lightbox[roadtrip]"><img src="assets/an6.jpg" alt=""/>
</a>
  
<a href="assets/an8.jpg"  rel="lightbox[roadtrip]"><img src="assets/an7.jpg" alt="" />
</a>
  
<a href="assets/an11.jpg"  rel="lightbox[roadtrip]"><img src="assets/an12.jpg" alt="" />
</a>
  
<a href="assets/an13.jpg"  rel="lightbox[roadtrip]"><img src="assets/an14.jpg" alt="" />
</a>
</div>
  </div>       
     </div>
  </body>
  </html>