<html>                           
  <head>
    <script type="text/javascript" src="../scripts/javascript.js"></script>    
  </head>  
  <body>       
    <div id="pagina" style="background-image: url(/assets/papapepo2.JPG); height: 506px; width: 1300px; border: 1px solid black;">        
     <div align="center">                                                               
<b> <font color ="#612101"></b>             
               <FONT SIZE="3" FACE="arial">  
                 <br></br>
                 <br></br>                 
                 <br></br> 
                 <br></br> 
                 <h2>MISIÓN:</h2>
               </font>
                 </div>    
     
    <div align=justify style="line-height: 30px">                                                 
                <FONT color= "#132BFF" SIZE="3" FACE="arial">                                                                       
                 <b>
                   Potencializa sus recursos humanos, 
                   materiales y económicos, a fin de hacer 
                   del proceso educativo un espacio integrador, 
                   en el que impere la interacción de maestros, estudiantes, 
                   padres de familia y comunidad en general, 
                   con el propósito de impulsar la sana convivencia social 
                   y para responder de una forma eficaz a los nuevos desafíos 
                   sociales, culturales, científicos y morales.
                  </p>
                 </b>                                                                                                                   
                </font>                 
  </div>  
      </div>      
</body>    
  </html>