<html>
  
<head>
    <script type="text/javascript" src="../scripts/javascript.js"></script>    
  </head>
  
  <body>
    <div id="pagina" style="background-image: url(/assets/3333.jpg); height: 506px; width: 1300px; border: 1px solid black;">      
    
    
     <div align="center">                                  
                             

               <font color ="#612101" SIZE="2" FACE="arial">
               <br></br> <br></br> <br></br> <br></br>
                 <h2><b>OBJETIVO:</b></h2>                 
               </font>
                 </div>   
    
    <div align=justify style="line-height: 25px">
                                                 
                <font color= "#132BFF" SIZE="3" FACE="arial">  
                 <b>        
	Promover a la Institución y a sus elementos por el sendero 
        de la superación y la toma de conciencia en la misión 
        que emprendemos y en la búsqueda de la visión que nos proponemos.
                 </b>
                                             
                </font>                 
  </div>
      
      
  </div>
</body>    
  </html>
  
  

