<html>
  
<head>
    <script type="text/javascript" src="../scripts/javascript.js"></script>    
  </head>
  
  <body>
    <div id="pagina" style="background-image: url(/assets/papin1234.jpg); height: 506px; width: 1300px; border: 1px solid black;">      
    
     <div align="center">                                  
                            
    
    <div align=justify style="line-height: 25px">
                                                 
                <font color= "#612101" SIZE="3" FACE="arial"> 
                 
                    <div align="center">  
                <p><b>OBJETIVOS GENERALES</b></p>
                    </div>
                 </font>
                  <font color= "#132BFF" SIZE="2" FACE="arial">  
                 
<p>1 -  Conciencia clara y profunda de ser ecuatoriano, en el marco de reconocimiento de la diversidad cultural, étnica, geográfica y de género del país.</p>   
<p>2 -  Consientes de sus derechos y deberes en relación a sí mismos,  la comunidad, la familia y  la nación.</p>
<p>3 -  Alto desarrollo de su inteligencia, a nivel del pensamiento cognitivo, procedimental y actitudinal.</p>
<p>4 -  Capaces de comunicarse con mensajes corporales estéticos, orales, escritos, y otros. Con habilidades para procesar los diferentes tipos de mensajes de su entorno.</p>
<p>5 -  Con capacidad de aprender, con personalidad autónoma y necesaria en su entorno social y natural, con ideas positivas de sí mismo.</p>
<p>6 -  Con actitudes positivas frente al trabajo y al uso de su tiempo libre.</p>
<p>7 -  Capaces de competir en este mundo globalizado que exige cada día más personas competitivas que contribuyan al desarrollo de su entorno.</p>                               
</font>                 
  </div>
      
      
  </div>
</body>    
  </html>
  
  

