<html>                           
  <head>
    <script type="text/javascript" src="../scripts/javascript.js"></script>    
  </head>  
  <body>       
    <div id="pagina" style="background-image: url(/assets/pope1000000.jpg); height: 506px; width: 1300px; border: 1px solid black;">        
     <div align="center">                                                               

               <font color ="#13530D" SIZE="2" FACE="arial">  
                 <br>
                 </br>
                 <h1>
                   <b> <u>
PERFIL DE INGRESO Y EGRESO DE LOS ESTUDIANTES:                      
                     </u> </b> 
                 </h1>
               </font>
                 </div>        
    <div align=justify style="line-height: 18px">                                                 
                <font color= "#132BFF" SIZE="3" FACE="arial">                                                                       
                 <b>
                    <p>•   Alumnos con criterio propio.</p>
                    <p>•   Con alta calidad humana y moral.</p>
                    <p>•   Valora y defiende su identidad, respetando las múltiples culturas.</p>
                    <p>•   Competente y competitivo en las dimensiones: cognitivas, procedimentales y actitudinales.</p>
                    <p>•   Conocedores de los seis saberes.</p>
                    <p>•   Se informa sobre la realidad nacional.</p>
                    <p>•   Participante activo del as transformaciones sociales.</p>
                    <p>•   Estructura y sintetiza el pensamiento lógico.</p>
                    <p>•   Participa con dinamismo en el proceso de enseñanza.</p>
                    <p>•   Vive principios de equidad de género.</p>
                    <p>•   Participa de la vida institucional desde los consejos estudiantiles.</p>
                    <p>•   Respeta y valora a sus compañeros.                 </p>
                 </b>                                                                                                                   
                </font>                 
  </div>  
      </div>      
</body>    
  </html>