<html>
  
<head>
    <script type="text/javascript" src="../scripts/javascript.js"></script>    
  </head>
  
  <body>
    <div id="pagina" style="background-image: url(/assets/pepi01.jpg); height: 506px; width: 1300px; border: 1px solid black;">      
    
    
     <div align="center">                                  
                             
 <font color ="#612101">
               <font SIZE="1" FACE="arial">
                 <br></br>
                 <h1><b>TRAYECTORIA:</b></h1>
                 
               </font>
                 </div>    
    
    <div align=justify style="line-height: 22px">
                                                 
                <font color= "#132BFF" SIZE="3" FACE="arial">  
                  
                 <b>
        Durante su trayectoria al servicio de la comunidad Pasajeña, nuestra institución ha brillado con luz propia, dejando muy en alto la dedicación de sus estudiantes, así como sus capacidades y talentos; entre los principales podemos destacar:
	<p>• Primer lugar en el concurso de Declamación a nivel Pre escolar y escolar en el año 1994</p>
        <p>• Primer lugar en los concursos de dibujo y pintura en 1995</p>
        <p>• Primer lugar en el concurso de libro leído a nivel colegial</p>
        <p>• Segundo lugar en el concurso Inter escolar “La niñez declama”</p> 
        <p>• Tercer lugar en el concurso de murales organizado por la Supervisión de Educación del Nivel Medio.</p>
        <p>• Promotores de l inclusión de Ajedrez como disciplina de competición deportiva y tetracampeones en esta área.</p>
        <p>• Excelentes participantes en las disciplinas de atletismo, basket y futbol.</p>                	
                 </b>                                                                                                                   
                </font>                 
  </div>
      
      
  </div>
</body>    
  </html>
  
  

