<html>
  
<head>
    <script type="text/javascript" src="../scripts/javascript.js"></script>    
  </head>
  
  <body>
    <div id="pagina" style="background-image: url(/assets/veamospapa2.jpg); height: 506px; width: 1300px; border: 1px solid black;">   
    
    
    
     <div align="center">                                  
                             
 <font color ="#612101">
               <font SIZE="2" FACE="arial">
                 <br></br>
                 <br></br>
                 <br></br> 
                 <br></br> 
                 <h2><b>VISIÓN:</b></h2>
               </font>
                 </div>    
    
    <div align=justify style="line-height: 30px">
                                                 
                <font color= "#132BFF" SIZE="3" FACE="arial">  
                  
                 <b>
                   Es la unidad educativa en la que se forman 
                   con actitud crítica, creadora y reflexiva, 
                   sus estudiantes quienes al egresar son aptos 
                   para continuar sus estudios y/o 
                   insertarse en el campo productivo, 
                   teniendo como marco conceptual la práctica 
                   de valores y la excelencia académica.                
                 </b>                                                                                                                   
                </font>                 
  </div>
  
      </div>
</body>    
  </html>
  
  