<html>
<link rel="stylesheet" href="/assets/stylee.css"></link>
 <div id="login-form4"> 
<br/><br/>
<center><p><h3 style = "width: 200px; margin: 1px 1px 10px 400px;"><b><font color="#3700FF">TIPOS DE MALLAS</font></b></h3></p></center>

<table border="3" width="300" align="justify" cellspacing="5" background="/assets/imagesssss.jpg"> 
<% @clase.each do |f| %>
<tr>
<td align="center"><%=f.tip_mall_descrip %>
<td align="center"><%= link_to "EDITAR", edit_tipomalla_path(f) %>   
<%#= link_to "MOSTRAR", f %>  
<td align="center"><%= link_to "ELIMINAR", f, :confirm => 'ESTA SEGURO??', :method => :delete %>


<%end%>
</table>
      </div>
</html>
   