#body1
    {
   background: url(/assets/papafondo_matriculaalumnos.bmp) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: center;
    }