/////////////////////////////////////////////////////////////BIENVENIDA
//IMAGEN DE FONDO
#body1
    {
   background: url(/assets/tuneado1.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
    }

#marco
{
border-radius: 10px; border: solid #0400D4; border-width: 6px 9px 6px 3px; width: 38%;
}

  
#fondopapa
{
   background: url(/assets/papa_fondoOOOOO1.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}


#registropapa
{
   background: url(/assets/2221.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

 
////////////////////////////////////////////////////////////MENU PRINCIPAL
//SIN IMAGEN DE FONDO

#reloj
{
background: url(/assets/222.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
background-attachment: scroll;

}



#body2
    {
background: url(/assets/papa_fondo1.jpeg) no-repeat center center fixed;
-webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 background-color:#D7CDC6;
    }


//MARGEN DE LOS SUBMENUS DENTRO DEL MENU
 #navi * {  
     list-style:none;
     margin:0;
     padding:0;
         }

//luego a los elementos de la lista...
#navi > li {
	margin:1px;
	padding:3px;
	border:3px solid#000000;
        float:left; 
        background-color :#000000;
     


        border-radius:6px; 
        -moz-border-radius:6px; /* Firefox */ 
        -webkit-border-radius:6px; /* Safari y Chrome */ 

        /* Otros estilos */ 
        border:1px solid #333;
        background:#eee;
	   }


 


#tamaño_fotos
{       position:auto; 
        top:15px; 
        left:-3px;  
        padding:43px; 
}






#navi li a {
	display:block;
	width:164px;
        height: 36px;
	padding:9px 10px;
	text-decoration:none;
	text-align:center;
	font-size:14px;    
	color:#000000;
	background-image: url(/assets/imagesssss.jpg);

        border-left:3px solid #001AE1;
        border-right:3px solid #001AE1;     
        
        border-radius:9px;  
            }


        ul  {
            float: left;
            list-style-type: none;
            padding: 0; 
            /* AÑADIMOS */
            position: relative; 
            left: 29%;
            }
        li  {
            float: left;
            /* AÑADIMOS */
            position: relative; 
            right: 28%;
            }




 


#navi li ul {
display:none;
position:absolute;
min-width:140px;
            }



//APUNTA EL MOUSE Y SE VEN LOS SUBMENUS
#navi li:hover > ul {
display:block;
                    }

#navi li a:hover  {
	color:#30308A;
	background-color:#778AFF;
                  }



       

//////////////////////////////////////////////////////ANIMACION MISION

#animacion
{
/*	border: 1px solid #000;*/
	overflow: hidden;
/*	margin: 50px auto 10px;*/
	position: relative;
	width: 200; /*Aquí puedes editar*/
	height: 200px;/*estos valores para cambiar el tamaño pero  
recuerda cambiarlos abajo también*/
}

#animacion
{
	border: 0;
	width: 200;
	height: 200px;
}



///////////////////////////////////////////////////////////////////
#body3 
{  background: url(/assets/papa55.jpeg) no-repeat center center fixed;
}
#body3
{
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;    
    text-align: center;
    //margin-left: 35px;

  border-top-style: dashed;
  border-right-style: double;
  border-bottom-style: dotted;
  border-left-style: solid;	
  position: center;
  width: 800; /*Aquí puedes editar*/
  height: 600px;

  border: 20;
  width: 800;
  height: 600px;
}



//IMAGEN FONDO DE NOTAS
#body4
{
background: url(/assets/pepooo.jpeg) no-repeat center center fixed;
-webkit-background-size: cover;
   -moz-background-size: cover;
-o-background-size: cover;
   background-size: cover;    
}



 

//CONTACTENOS
#contacto
{       
background: url(/assets/esae.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;    
text-align: center;

 }



#contacto
{      
  border-top-style: dashed;
  border-top-color: #C90929;
  border-right-style: double;
  border-right-color: #730E73;
  border-bottom-style: dotted;
  border-bottom-color: #FCA000;
  border-left-style: solid;
  border-left-color: #14EE05;
  position: center;
  width: 800; /*Aquí puedes editar*/
  height: 600px;

  border: 20;
  width: 800;
  height: 600px;
}






    #textovertical
    {
    -webkit-transform:rotate(-60deg);
    -moz-transform:rotate(-60deg);
    -o-transform: rotate(-60deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }